doctype html

head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  script(src='https://kit.fontawesome.com/224717b084.js' crossorigin='anonymous')
  link(rel='stylesheet' href='../static/sty.css')
.container
  section#navbar(addition='')
    #logo Portfolio
    nav
      #id1.color Home
      #id2.color  About
      #id3.color Services
      #id4.color Skills
      #id5.color Teams
      #id6.color Contact
  .main
    #id-1 Hello,my name is
    #id-2  Prakash Shahi
    #id-3
      | And I&apos;m a 
      span.allrounder Youtuber
    #id-4
      button Hire me
  .pic
.container1
  .s1
    h1 About me
  .s2 Who I am
  .photo
  .intro
    h3
      | I&apos;m Prakash and I&apos;m a 
      span.allrounder Youtuber
    .detail
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis vel quibusdam sed
      | recusandae, iste ut a animi nemo, cumque facilis maiores aspernatur voluptas debitis tempora ad quidem
      | perferendis. Provident illum, doloremque omnis reiciendis totam eos vel ducimus quam aspernatur Lorem
      | ipsum dolor sit amet consectetur, adipisicing elit. Possimus quisquam delectus labore laboriosam
      | praesentium exercitationem, placeat beatae accusamus animi at.
    div
      button.download Download CV
.container2
  .m2
    h1 My Services
  .center.m3 what i provide
  #m1
    .icon
      #ele1.ele.center
        i.fas.fa-paint-brush.fa-4x
      #ele2.ele
        h2.center Web Design
      #ele3.center.ele
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        | impedit ut
        | autem. Dolorum possimus nostrum suscipit nam cupiditate harum molestiae? Lorem ipsum dolor sit amet
        | consectetur adipisicing elit. Totam, fuga.
    .icon
      #ele1.ele.center
        i.fas.fa-chart-line.fa-4x
      #ele2.ele
        h2.center Advertising
      #ele3.center.ele
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        | impedit ut
        | autem. Dolorum possimus nostrum suscipit nam cupiditate harum molestiae? Lorem ipsum dolor sit amet
        | consectetur adipisicing elit. Totam, fuga.
    .icon
      #ele1.ele.center
        i.fab.fa-sketch.fa-4x
      #ele2.ele
        h2.center Apps Design
      #ele3.center.ele
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi
        | impedit ut
        | autem. Dolorum possimus nostrum suscipit nam cupiditate harum molestiae? Lorem ipsum dolor sit amet
        | consectetur adipisicing elit. Totam, fuga.
.container3
  .s1
    h1 My skills
  .s2 what i know
  .aboutskills
    .describe
      h3 My creative skills &amp; experiences
      .de
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolorum blanditiis perferendis
        | aperiam soluta quasi quam temporibus eligendi. Sed odio repudiandae labore, qui excepturi alias
        | quasi atque ut at dicta est tenetur nisi cupiditate porro vitae! Accusamus reprehenderit obcaecati
        | ab. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae ea repellat et amet molestias
        | numquam voluptate, nisi sed magnam recusandae.
      div
        button.download Read more
    .graphic
      .content
        div
          h4 HTML
        .percent 90%
      .cont
        .html
      .content
        div
          h4 CSS
        .percent 60%
      .cont
        .css
      .content
        div
          h4 Javascript
        .percent 80%
      .cont
        .js
      .content
        div
          h4 PHP
        .percent 50%
      .cont
        .php
      .content
        div
          h4 MySQL
        .percent 70%
      .cont
        .mysql
.container4
  h1.m2 My teams
  .m3 who with me
  .scroll
    .scroller
      #img1.img
        .pict1.im
        .name.im
          h2.center Someone name
        .center.im
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi impedit ut
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsam.
      #img2.img
        .pict2.im
        .name.im
          h2.center Someone name
        .center.im
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi impedit ut
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsam.
      #img3.img
        .pict3.im  
        .im
          h2.center Someone name
        .center.im
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligend impedit ut
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsam.
      #img4.img
        .pict4.im
        .name.im
          h2.center Someone name
        .center.im
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi impedit ut
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsam.
      #img5.img
        .pict5.im
        .name.im
          h2.center Someone name
        .center.im
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi impedit ut
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsam.
      #img6.img
        .pict6.im  
        .im
          h2.center Someone name
        .center.im
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligend impedit ut
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, ipsam.
    .buttons
      #btn1.btns
      #btn2.btns
.container5
  h1.s1 Contact me
  .s2 get in touch
  .details
    .detailed-1
      h3 Get in touch
      .detailed
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti blanditiis delectus recusandae
        | consectetur? Culpa asperiores laborum hic, iure tenetur aut. Lorem ipsum dolor sit amet consectetur
        | adipisicing elit. Amet, inventore.
      .boxs
        .box1
          i.reds.fas.fa-user.fa-2x
          i.reds.fas.fa-map-marker-alt.fa-2x
          i.reds.fas.fa-envelope.fa-2x
        .box2
          .bo
            h3 Name
            div Prakash Shahi
          .bo
            h3 Address
            div Indore, India
          .bo
            h3 Email
            div Prakash112@gmail.com
    form.detailed-2(action='/register' method='POST')
      h3 Message me
      input(placeholder='Name' type='text' name='Name' id='')
      input(placeholder='Email' type='email' name='Email' id='')
      input#sub(placeholder='Subject' type='text' name='subject')
      textarea#area(placeholder='Message' name='message' cols='50' rows='30')
      .btn
        button.download Send message
  script(src='../static/fin.js')
